---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/parrot-party.gif";

const meta = {
	title: "About",
	description: "About me page",
};
const width = "74";
---

<PageLayout meta={meta}>
	<div class="prose prose-base prose-cactus prose-th:before:content-none">
		<h1 class="title">About</h1>
		<p>Hello! Welcome to my website!</p>
		<p>
			My name is Saurav Chhapawala. I was raised in SoCal and pursued a
			degree in Computer Science. I hope you find my website interesting
			and see some cool things!
		</p>
		<p>
			I am a software engineer looking to further professional development
			and am passionate about learning and creating new things using my
			skills. Some of my other interests are 3D Printing and Modeling,
			Cars, and Hiking.
		</p>
		<p>
			I recieved my Bachelors of Science in Computer Science at California
			State University Long Beach (class of 2021)!
		</p>
		<p>
			Check out my
			<a
				class="cactus-link inline-block"
				href="https://github.com/SauravC99?tab=repositories"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				Github
			</a> repo to see more of what I'm working on!
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="PARTY PARROT"
				loading="eager"
				width={width}
			/>
		</div>
	</div>
</PageLayout>
