---
import PageLayout from "@/layouts/Base.astro";

const socialLinks: {
	friendlyName: string;
	link: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/SauravC99",
	},
	{
		friendlyName: "Linkedin",
		link: "https://www.linkedin.com/in/saurav-chhapawala/",
	},
];
---

<PageLayout meta={{ title: "Contact Me Page" }}>
	<h1 class="title mb-6">Contact Me!</h1>
	<div class="text-[1.05rem]">
		<div>Email:</div>
		<div class="mt-4 inline-flex space-x-2">
			<div class="mb-5 sm:hover:text-link" id="email">saurav.chhapawala@gmail.com</div>
		</div>
		<br />
		<ul class="space-y-4">
			{
				socialLinks.map(({ friendlyName, link }) => (
					<li>
						<a class="sm:hover:text-link" href={link} target="_blank">
							{friendlyName}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</PageLayout>
