---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const programDemoList: { desc: string; href: string; title: string }[] = [
	{
		desc: "Solving the N Queens problem using a genetic algorithm.",
		href: "/programs/genetic-algorithm/",
		title: "N Queens Problem",
	},
	{
		desc: "Visualize sorting algorithms and generate beautiful videos with sound.",
		href: "/programs/visualsort/",
		title: "VisualSort",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello! I'm Saurav.</h1>
		<p class="mb-4 text-[0.95rem]">
			Welcome to my website :) I am a Software Engineer, check out the cool things I'm working on.
		</p>
		<SocialList />
		<br />
		<br />
		<hr class="solid" />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Program Demos</h2>
		<dl class="space-y-4">
			{
				programDemoList.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href}>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
